ORIGIN=http://localhost:5173
HOST_HEADER=X-Forwarded-Host

DATABASE_URL=postgres://postgres:postgres@localhost:5432/matchmaker
AUTH_SECRET=oTpQ+oQF6VliPrs4gHJupmh/VCzv5g8lqVlPZhmNdJw= # Can be generated using `openssl rand -base64 32`
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_ISSUER=http://localhost:9000/application/o/matchmaker/

PTERODACTYL_URL=
PTERODACTYL_APP_API_KEY=
PTERODACTYL_USER_API_KEY=
PTERODACTYL_USER_ID=
PTERODACTYL_ALLOWED_NODES=